<div class="panel">
  <div class="panel-body">
    <form name="form" role="form" class="form" ng-submit="vm.onSubmit(form)" novalidate>
      <div class="row">
        <div class="col-lg-6">
          <fieldset>
            <div class="form-group" ng-class="{ 'has-error': form.current_password.$invalid && (form.current_password.$dirty || form.$submitted) }">
              <label for="current_password" class="control-label">Sua senha</label> 
              <input ng-model="vm.current_password" type="password" name="current_password" class="form-control" required />
              <div ng-messages="form.current_password.$error" role="alert" class="help-block" ng-if="(form.current_password.$dirty || form.$submitted)">
                <small ng-message="required">Campo obrigatório</small>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && (form.password.$dirty || form.$submitted) }">
              <label for="password" class="control-label">Nova senha</label> 
              <input ng-model="vm.password" type="password" name="password" class="form-control" required />
              <div ng-messages="form.password.$error" role="alert" class="help-block" ng-if="(form.password.$dirty || form.$submitted)">
                <small ng-message="required">Campo obrigatório</small>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password_confirmation.$invalid && (form.password_confirmation.$dirty || form.$submitted) }">
              <label for="password_confirmation" class="control-label">Digite novamente a senha</label> 
              <input ng-model="vm.password_confirmation" type="password" name="password_confirmation" class="form-control" required />
              <div ng-messages="form.password_confirmation.$error" role="alert" class="help-block" ng-if="(form.password_confirmation.$dirty || form.$submitted)">
                <small ng-message="required">Campo obrigatório</small>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>