<div class="p-v-xxs">
  <div class="calendar-flex-container">
    <div class="calendar-column-left hidden-xs hidden-sm">
      <h4>Agendas</h4>
      <ul class="list-unstyled listing-doctors">
        <li ng-repeat="doctor in vm.accounts" ng-class="{ 'active': doctor.id == vm.account_selected.id }">
          <a ng-click="vm.changeDoctor(doctor)" ng-switch="doctor.role">
            <span ng-switch-when="clinic">
              <i class="fa fa-hospital-o fa-mc fa-fw" aria-hidden="true"></i> Agenda Clínica
            </span>
            <span ng-switch-default>
              <i class="fa fa-user-md fa-mc fa-fw" aria-hidden="true"></i> {{ doctor.first_name }}
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="calendar-column-right aria-calendar">
      <div class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left">
            <h4><i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i> {{ vm.account_selected.first_name }}</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-right">
            <button type="button" class="btn btn-primary" ng-click="vm.syncCalendar()" style="top: -1px;position: relative;" ng-if="$root.offline_mode.enabled">
              <span>Sincronizer agenda</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.editDoctor()" style="top: -1px;position: relative;">
              <i class="fa fa-cogs fa-fw"></i> Ajustar Horários
            </button>
            <input type="date" class="form-control" ng-model="vm.date_at" style="max-width: 170px;display: inline-block;" ng-change="vm.changeDate()">
            <div class="btn-group" role="group" style="top: -1px;">
              <button type="button" class="btn btn-success" ng-click="vm.changeCalendar('back')">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button type="button" class="btn btn-success" ng-click="vm.changeCalendar('today')">
                <span>Hoje</span>
              </button>
              <button type="button" class="btn btn-success" ng-click="vm.changeCalendar('next')">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid hidden-md hidden-lg">
        <form accept-charset="utf-8">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-,d-12 col-lg-12">
              <div class="form-group">
                <label for="doctor" class="control-label">
                  <i class="fa fa-user fa-lg fa-fw"></i> Escolha um Dentista
                </label>
                <select id="doctor" name="doctor" ng-model="vm.doctor" ng-change="vm.changeDoctor()" class="form-control"
                  ng-options="doctor as doctor.first_name for doctor in vm.accounts">
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="date" class="control-label">
                      <i class="fa fa-calendar fa-lg fa-fw"></i> Data
                    </label>
                    <input type="date" class="form-control" ng-model="vm.date_at" ng-change="vm.changeDate()" />
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group text-right">
                    <label class="control-label">&nbsp;</label><br>
                    <button type="button" class="btn btn-primary" ng-click="vm.modalEditAppointment()">
                      <i class="fa fa-plus fa-lg fa-fw"></i> Consulta
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="calendar" ui-calendar="vm.calendarConfig.calendar" calendar="calendar" ng-model="vm.eventSources" style="z-index: 0;"></div>
    </div>
  </div>
</div>