<div class="p-v-xs">          
  <div class="m-b-xs p-h-xxs">
    <button type="button" class="btn btn-danger" ng-click="vm.modalAccountsPayable(2)">
      <i class="fa fa-fw fa-minus"></i> <span class="hidden-sm hidden-xs">Adicionar Pagamento</span>
    </button>&nbsp;
    <button type="button" class="btn btn-primary" ng-click="vm.modalAccountsPayable(1)">
      <i class="fa fa-fw fa-plus"></i> <span class="hidden-sm hidden-xs">Adicionar Recebimento</span>
    </button>
  </div>
  <form role="form" class="form" ng-submit="vm.refresh()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-h-xxs m-b-xxs">
          <label for="date_start" class="control-label">
            <i class="fa fa-exchange fa-rotate-90 fa-lg fa-fw"></i> Contas:&nbsp;
          </label>
          <select id="type" name="type" class="form-control" ng-model="vm.kind">
            <option ng-value="null">Todas as movimentações</option>
            <option ng-value="'expense'">Contas á Pagar</option>
            <option ng-value="'income'">Contas á Receber</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-h-xxs m-b-xxs">
          <label>&nbsp;</label><br>
          <button type="submit" class="btn btn-success">
            <i class="fa fa-search fa-fw"></i> Buscar
          </button>&nbsp;
          <button type="button" class="btn btn-default">Limpar</button>
        </div>
      </div>
    </div>
  </form>
  <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-hover display" cellspacing="0" width="100%"></table>
</div>