<div class="panel">
  <div class="panel-body">
    <form name="form_password" role="form" class="form" ng-submit="vm.onSubmit(form_password.$valid)" novalidate>
      <fieldset>
        <legend>
          Senha de acesso
        </legend>
        <p>Informações pertinentes ao cadastro do Dentista</p>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group" ng-class="{ 'has-error': form_password.old_password.$invalid && form_password.$submitted }">
              <label for="password" class="control-label">Senha</label>
              <input type="password" class="form-control" name="old_password" id="old_password" ng-model="vm.old_password" required />
              <div ng-messages="form_password.old_password.$error" role="alert" class="help-block" ng-if="form_password.$submitted">
                <span ng-message="required">Campo obrigatório</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form_password.password.$invalid && form_password.$submitted }">
              <label for="password" class="control-label">Nova senha</label>
              <input type="password" class="form-control" name="password" id="password" ng-model="vm.password" required />
              <div ng-messages="form_password.password.$error" role="alert" class="help-block" ng-if="form_password.$submitted">
                <span ng-message="required">Campo obrigatório</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form_password.password_confirmation.$invalid && form_password.$submitted }">
              <label for="password" class="control-label">Digite novamente a nova senha</label>
              <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" ng-model="vm.password_confirmation" required />
              <div ng-messages="form_password.password_confirmation.$error" role="alert" class="help-block" ng-if="form_password.$submitted">
                <span ng-message="required">Campo obrigatório</span>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-success ">Atualizar</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>