<script type ="text/ng-template" id="support.html">
  <div class="p-h-xs p-v-xs">
    <div class="panel panel-default">
      <div class="panel-body">
        <uib-tabset active="0" justified="false">
          <uib-tab index="0" classes="menu-tab">
            <uib-tab-heading>
              <i class="fa fa-youtube fa-lg fa-fw" aria-hidden="true"></i> Videos e Tutoriais
            </uib-tab-heading>
            <h3>Videos e Tutoriais</h3>
            <p>Abaixo você encontrará explicações e respostas para duivdas recorrentes do sistema</p>
            <hr>
            <div class="container-fluid">      
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                  <div class="form-group">            
                    <h4>Atualizando o Endereço</h4>
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/jTHwJ-PVsuI" style="max-width: 100%;" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                  <div class="form-group">            
                    <h4>Criando um Expediente</h4>
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/-1vRefq60XI" style="max-width: 100%;" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                  <div class="form-group">            
                    <h4>Sistemize Dental</h4>
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/PwGDBs0hmDM" style="max-width: 100%;" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" classes="menu-tab">
            <uib-tab-heading>
              <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i> <span class="hidden-sm hidden-xs">Perguntas e Respostas</span>
            </uib-tab-heading>
            <h3>FAQ</h3>
            <p>Abaixo você encontrará explicações e respostas para duivdas recorrentes do sistema</p>
            <hr>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel">
                <div class="panel-heading" role="tab" id="heading1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      <i class="fa fa-comment-o fa-lg fa-fw"></i> Qual a velocidade da conexão com a internet necessária para acessar o OMP?
                    </a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                  <div class="panel-body">
                    Sistemize Dental foi criado para ser um sistema <strong>leve </strong>e <strong>rápido</strong>.<br>
                    <br>Clientes que possuem conexão com a internet a partir de 56 kbps (discada) podem utilizar o sistema.<br>
                    <br>Porém, para que você tenha uma ótima experiência, recomendamos uma velocidade mínima de 100 kbps. :)
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</script>